.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Build artifacts and compiled files
/server/reactServer/client/assets/
/server/reactServer/client/index.html
/server/reactServer/client/staticData/
/dist/
*.log
