.nav-bar {
  display: flex;
  padding: var(--muza-spacing-1) 0px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--muza-border-radius-ms);
  border: 1px solid var(--colorsBorderLight);
  background: var(--colorsBackgroundLight);
  box-shadow:
    0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-items {
  display: flex;
  margin: var(--muza-spacing-1-5) var(--muza-spacing-sm) var(--muza-spacing-1-5)
    var(--muza-spacing-md);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.item-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--colorsPopoverDark);
  text-overflow: ellipsis;
  /* text small/leading-normal/regular */
  font-size: var(--typography-base-sizes-small-font-size);
  font-style: normal;
  font-weight: var(--muza-font-weight-normal);
  line-height: var(--typography-base-sizes-small-line-height); /* 125% */
  letter-spacing: var(--typography-base-sizes-small-letter-spacing);
  margin-left: 10px;
}

.icon-wrapper {
  width: var(--width-w-4, 16px);
  height: var(--height-h-4, 16px);
  left: 7.75px;
  bottom: 7.9px;
}
