.wave-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 16px;
  height: 16px;

  .bar {
    width: 3px;
    height: 100%;
    border-radius: 2px;
    background-color: var(--colors_foreground_light);

    &:nth-child(1) {
      animation: wave 1s infinite ease-in-out;
    }

    &:nth-child(2) {
      animation: wave 1s infinite ease-in-out 0.2s;
    }

    &:nth-child(3) {
      animation: wave 1s infinite ease-in-out 0.4s;
    }
  }
}

@keyframes wave {
  0%,
  100% {
    height: 40%;
  }
  50% {
    height: 100%;
  }
} 