.album-details-card {
  display: flex;
  align-items: center;
  background: white;
  padding: var(--muza-spacing-md, 12px);
  border-radius: var(--muza-border-radius-md, 8px);
  flex-direction: column;
  align-items: flex-start;

  .image-container {
    width: 180px;
    height: 180px;
    border-radius: var(--muza-border-radius-sm, 4px);
    overflow: hidden;
    background: var(--muza-image-background-color-bg, #d9d9d9);
    box-shadow: var(--muza-box-shadow, 0 3px 10px rgba(0, 0, 0, 0.2));
    margin-right: var(--muza-spacing-lg, 16px);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .album-play-pause-btn {
      display: flex;
      padding: var(--muza-spacing-md, 12px);
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 999px;
      background: var(--colors_primary_light, #1d4ed8);
      color: #fff;
      border: none;
      z-index: 2;
      font-size: 2rem;
      cursor: pointer;
      opacity: 0;
      transition:
        opacity 0.4s,
        transform 0.4s;
      svg {
        width: 48px;
        height: 48px;
        path {
          fill: #fff !important;
        }
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      &:hover {
        transform: translate(-50%, -50%) scale(1.15);
      }
    }
    &:hover .album-play-pause-btn {
      opacity: 1;
    }
  }

  .album-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--muza-border-radius-sm, 4px);
    background: rgba(9, 9, 9, 0.1);
    backdrop-filter: blur(4px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }
  .album-overlay-actions {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    .album-overlay-btn {
      display: flex;
      width: 28px;
      height: 28px;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      border-radius: var(--muza-border-radius-lg, 20px);
      background: var(--muza-section-background, #f7f7f7);
      border: none;
      cursor: pointer;
      transition: background 0.2s;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        svg {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          path {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  .image-container:hover .album-hover-overlay {
    opacity: 1;
  }
  .image-container:hover .album-overlay-actions {
    opacity: 1;
    pointer-events: auto;
  }

  .info {
    margin-top: 4px;
    margin-left: var(--muza-spacing-sm, 8px);
    flex: 1;

    .title {
      font-size: var(--muza-heading-font-size, 18px);
      font-weight: var(--muza-font-weight-bold-extra, 700);
      color: var(--muza-primary-text-color, #333333);
    }

    .artist {
      font-size: 16px;
      color: var(--muza-secondary-text-color, #5f5f5f);
      font-weight: 400;
      line-height: 1.2;
    }

    .subtitle {
      display: none;
      font-size: var(--muza-secondary-font-size, 12px);
      color: var(--muza-tertiary-text-color, #aaa);
      margin-top: var(--muza-spacing-xs, 4px);
    }
  }

  .buttons {
    display: none;
    gap: var(--muza-spacing-sm, 8px);
    margin-top: var(--muza-spacing-md, 12px);

    .icon-button {
      background: var(--muza-buttons-color, #ededed);
      border: none;
      padding: var(--muza-spacing-sm, 8px);
      border-radius: var(--muza-border-radius-sm, 4px);
      cursor: pointer;
      transition: background 0.2s ease-in-out;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      width: var(--button-size);
      height: var(--button-size);

      &:hover {
        background: var(--muza-button-hover-background, #dddddd);
      }

      .icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--muza-secondary-text-color, #5f5f5f);

        &.icon-dots::before {
          content: "⋮";
          font-size: 16px;
          font-weight: bold;
        }

        &.icon-info::before {
          content: "i";
          font-size: 16px;
          font-weight: bold;
        }

        &.icon-plus::before {
          content: "+";
          font-size: 18px;
          font-weight: bold;
        }

        &.icon-shuffle svg {
          width: 18px;
          height: 18px;
          fill: var(--muza-secondary-text-color, #5f5f5f);
          stroke: var(--muza-secondary-text-color, #5f5f5f);
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
    }
  }
}
